.input-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24rem;
  background-color: white;
  border: 1px solid #000;
  padding: 1rem;
}

.form-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-title {
  font-weight: bold;
  font-size: 1.25em;
  padding-top: 1.2rem;
}