.container {
  background-color: red;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.container-header {
  background-color: green;
}

.container-content {
  background-color: #ffffff;
  height: calc(100vh - 175px);
}

.container-footer {
  background-color: purple;
}
